* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-image: url("https://c1.wallpaperflare.com/path/565/385/156/sunset-brook-green-meadow-june-df867360f0bed19da26bbb3838498c8f.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container {
    width: 1320px;
    padding: 0px 16px;
    margin: auto;
    height: 100vh;

}

.boards {
    display: flex;
    gap: 16px;
    padding-top: 120px;
}

.board-header {
    padding: 8px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 12px;
}

#addBtn {
    display: flex;
    gap: 16px;
    align-items: center;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
}

.board {
    background-color: #ebecf0;
    border-radius: 8px;
    padding: 8px;
    width: 250px;
    height: fit-content;
}

#addBtn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.card {
    padding: 8px;
    border-radius: 4px;
    background-color: white;
    cursor: grab;
    display: flex;
    gap: 12px;
}

.modal {
    position: absolute;
    opacity: 0;
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

form>div {
    display: flex;
    flex-direction: column;
}

textarea {
    resize: none;
}